# Porta e Host do Servidor
PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# Banco de Dados (Supabase PostgreSQL)
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres?schema=public"

# Configurações do Better Auth
BETTER_AUTH_SECRET="gerar_um_secret_aleatorio_de_32_caracteres"
BETTER_AUTH_URL="http://localhost:3000"

# Inteligência Artificial (OpenAI)
OPENAI_API_KEY="sk-proj-..."

# WhatsApp Integration (Evolution API)
EVOLUTION_API_URL="https://sua-instancia-evolution.com"
EVOLUTION_API_API_KEY="seu-token-global-evolution"
EVOLUTION_API_INSTANCE="DivinoPao"
